body {
	margin: 0px;
	padding: 40px 0 400px 0;
	background: #1b1d20;
}

h1, h2, h3, a {
	font-family: "Rubik", Helvetica, Arial, sans-serif;
	color: white;
	font-weight: normal;
}

p {
	font-family: "IBM Plex Mono", Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #b0b2b3;
}

section {
	max-width: 600px;
	margin: 80px auto;
	padding: 0 20px;
}

.line {
	content: '';
	display: inline-block;
	height: 200px;
	width: 3px;
	border-radius: 5px;
	margin-right: 10px;
	background-image: linear-gradient(#DDFF01, #2e0);	
}

h2::before {
	content: '';
	display: inline-block;
	height: 18px;
	width: 3px;
	border-radius: 5px;
	margin-right: 10px;
	background-image: linear-gradient(#DDFF01, #2e0);
}

section > div {
	margin: 0 20px;
}

section > a {
	text-align: left;
	text-decoration: none;
	padding: 8px 20px 10px 20px;
}

p > a:hover {
	cursor: alias;

}

section > a:hover {
	cursor: alias;
	color: #a494f5;
}

nav {
	width: 100%;
	background: #010101;
	position: fixed;
	top: 0;
	z-index: 100;
}

#logo {
	width: 190px;
	height: 58px;
	padding-left: 10px;
	padding-top: 15px;
	display: flex;
	color: #2e0;
	position: absolute;
	text-align: left;
}

nav ul {
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 0px;
}

nav a {
	padding: 10px 20px;
	text-decoration: none;
	color: white;
	font-size: 1.4em;
}

nav a:hover {
	color: #a494f5;
}

#bio {
	padding-left: 9px;
}

footer {
	width: 100%;
	height: 58px;
	position: fixed;
	background-color: #010101;
	text-align: center;
	bottom: 0;
}